body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#sandTimer {
    position: absolute;
    top: 2.5%;
    font-size: 3em;
}

#countDownText {
    font-size: 8em; /* Increased font size */
    position: absolute;
    top: 10%;
    color: #333;
}

#countDownText span {
    display: inline-block;
}

#calander {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calander input {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 2s linear;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade {
    animation: fade 0.5s ease-in-out;
}
